html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #CCC;
    line-height: 2;
    background-color: #000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 72px;
}

.header {
    background-color: aqua;
}

.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navLink {
    position: relative;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 200;
    color: #000;
    text-decoration: none;
}

.navLink:hover {
    box-shadow: inset 0 -1px 0 black;
}

.main {
    margin-bottom: auto;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    padding-left: 10px;
    width: calc(50% - 20px);
    border-bottom: 1px solid orange;
}

.sectionEducation, .sectionEnglish {
    border-bottom: 0;
}

.sectionTitle {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: orange;
}

.sectionProfile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
    border-bottom: 10px solid gold;
}

pre {
    margin: 0;
    padding: 0;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

.sectionProfileTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.sectionSubtitle {
    font-weight: 200;
    text-align: center;
    word-spacing: 5px;
    text-transform: uppercase;
}

.profileImage {
    width: 300px;
    border-radius: 10%;
    object-fit: cover;
}

.sectionList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skillsItem {
    position: relative;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 30px;
}

.skillsItem::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.skillsItem:nth-child(1)::before {
    background-image: url('assets/svg/html.svg');
}

.skillsItem:nth-child(2)::before {
    background-image: url('assets/svg/css.svg');
}

.skillsItem:nth-child(3)::before {
    background-image: url('assets/svg/js.svg');
}

.skillsItem:nth-child(4)::before {
    background-image: url('assets/svg/git.svg');
}

.sectionItem {
    position: relative;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 2px;
}

.sectionItem::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 5px;
    background-color: gold;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.sectionItem a {
    text-decoration: none;
    color: aqua;
}

.sectionItem span {
    font-style: italic;
}

footer {
    background-color: aqua;
    padding: 20px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #666;
}

.rss {
    background-image: url("assets/svg/rs_school_js.svg");
    background-repeat: no-repeat;
    width: 150px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }